<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>Êî∂‰ª∂ÁÆ±</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../assets/dashgumfree/css/style.css" rel="stylesheet">
    <link href="../assets/dashgumfree/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/dashgumfree/css/to-do.css">
    <link rel="stylesheet" href="../assets/personoffice/css/tasks.css">
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <!--script for this page-->
    <script src="../assets/instation/js/inbox.js" type="text/javascript"></script>
</head>
<body>
<section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Email Lists</h3>
    <div class="row mt mb">
        <div class="col-md-12">
            <section class="task-panel tasks-widget">
                <div class="panel-heading">
                    <div class="pull-left"><h5><i class="fa fa-tasks"></i> Email List - ToDay</h5></div>
                    <br>
                </div>
                <div class="panel-body">
                    <div class="task-content">
                        <ul  class="task-list">
                            <li class="list-primary">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                    <span class="badge bg-theme">Done</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                            <li class="list-danger">
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Extensive collection of plugins</span>
                                    <span class="badge bg-warning">Cool</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-success">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Free updates always, no extra fees.</span>
                                    <span class="badge bg-success">2 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-warning">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">More features coming soon</span>
                                    <span class="badge bg-info">Tomorrow</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-info">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                                    <span class="badge bg-important">Now</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
        </div><!--/col-md-12 -->
        <div class="col-md-12">
            <section class="task-panel tasks-widget">
                <div class="panel-heading">
                    <div class="pull-left"><h5><i class="fa fa-tasks"></i> Email List - Yesterday Messages</h5></div>
                    <br>
                </div>
                <div class="panel-body">
                    <div class="task-content">
                        <ul  class="task-list">
                            <li class="list-primary">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                    <span class="badge bg-theme">Done</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                            <li class="list-danger">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Extensive collection of plugins</span>
                                    <span class="badge bg-warning">Cool</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-success">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Free updates always, no extra fees.</span>
                                    <span class="badge bg-success">2 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-warning">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">More features coming soon</span>
                                    <span class="badge bg-info">Tomorrow</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-info">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                                    <span class="badge bg-important">Now</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
        </div><!--/col-md-12 -->
        <div class="col-md-12">
            <section class="task-panel tasks-widget">
                <div class="panel-heading">
                    <div class="pull-left"><h5><i class="fa fa-tasks"></i> Email List - Older Messages</h5></div>
                    <br>
                </div>
                <div class="panel-body">
                    <div class="task-content">
                        <ul class="task-list">
                            <li class="list-primary">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                    <span class="badge bg-theme">Done</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                            <li class="list-danger">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Extensive collection of plugins</span>
                                    <span class="badge bg-warning">Cool</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-success">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Free updates always, no extra fees.</span>
                                    <span class="badge bg-success">2 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-warning">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">More features coming soon</span>
                                    <span class="badge bg-info">Tomorrow</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-info">
                                
                                <div class="task-checkbox">
                                    <input type="checkbox" class="list-child" value=""/>
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Hey, seriously, you should buy this Dashboard</span>
                                    <span class="badge bg-important">Now</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs fa fa-check"></button>
                                        <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class=" add-task-row">
                        <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Êü•ÁúãÊõ¥Â§öÂéÜÂè≤ÈÇÆ‰ª∂</a>
                    </div>
                </div>
            </section>
        </div><!--/col-md-12 -->
    </div><!-- /row -->
</section>
</body>
</html><!--„Y 
ïÍ±Î(,â√‘
¥xµ˛ÇÓﬂ
µ,#:⁄-‘˛Ìö¿ÇÜx√áôÍO8∑9¿ª'˚, —È≥º¯Oƒe'ËP±FOƒíùb(eœü{Õ
‡g∏êcı	ﬂY∆C/#—Y?†:≈ëÆ¯i’ﬁ≠ÕŸP=Ëæ/Ì\‰∂	œÌXLÔE¢ÁNÄZÑÉßïçUPπ¥°~øR≠äv‡í@Œt"‚≠·_M±d√ŒcQ@ÜÎÈÙaÜxf‹w≠„â«∞ôO±Ÿﬁ¶πë6xqDÆK¬E]®¿9,óJV«‹ìŒ˙@âúìﬂ÷Åöäú]N ™Y æ+˜à:€dß’ÂÂƒ»(a
ˆŸb3N¯˙¿Ê&Ädò˝øˆ_ôDªB+±ÇûGj≥2ì‚„Êè`cY∏g˘aªsﬂ˝1w,…"º#"˙òS‰›IñZ÷Æ'¿wúÔÁgd‘ZkqË#≠BïÑ√ôÀ?AzTk‚L*EÑÏ,Ä ºîÉ“‘ GæX˝ê0 ≈òy/˘¬©áãõx]Ï,Åsä∑_aÄ=ÄçvWt¥è∫xÈŸVòœçO—ÛÌ∫[ü8NgA'ÜËÙò¶–ì◊a æ)R}2˘æ)æ)æ)ÛÙOy{˘Yƒˆ) æ)-->