.add-warp{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    /*background-color: #0f0f0f;*/
    /*opacity: 0.5;*/
    clear: both;
    background-color: rgba(0, 0, 0,0.5);
}

#add-warp{
    display: none;
    clear: both;
    width: 50%;
    position: absolute;
    top:15%;
    left: 25%;
    bottom: 10%;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: white;
}

.add-warp-show{
    display: block;
    z-index: 1;
}

.close-warp{
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}